* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #7398BF;
    --sec-color: #507EAF;
    --acc-color: #519CE1;
    --h1-font: 2.5rem;
    --h2-font: 1.75rem;
    --h3-font: 1.5rem;
    --p-font: 1rem;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*--sec-font: kanit - still to load and link;*/
    --heading-col: #A9A9A9;
    --text-sh: rgb(235, 234, 234);
}

html {
    background-color: var(--main-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    margin: 2 auto;
    padding: 0;
    width: 100%;
    height: 120px;
    /*position: fixed;*/
    font-size: var(--h1-font);
    border: 3px solid var(--acc-color);
    background-color: var(--sec-color);
    font-family: var(--main-font);
    color: var(--heading-col);
    text-shadow: 1px 1px var(--text-sh);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow-y:visible;
}

.nav {
    border: 3px solid var(--acc-color);
    margin: 3px 0;
    width: 100%;
    font-size: var(--h3-font);
    display: flex;
    justify-content: center;
    background-color: var(--sec-color);
    color: var(--heading-col);
    text-shadow: 0.25px 0.25px var(--text-sh);
    font-size: var(--h3-font);
}

.nav li {
    display: inline-block;
    padding: 0 20px;
    font-size: var(--h3-font);
}

.nav a {
    color: var(--h1-font);
    box-shadow: var(--text-sh);
}

.nav a:hover {
    color: white;
}

#main {
    margin: 20px auto;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    border: 1px solid black;
    align-items: center;
    align-content: center;
}

.main-head {
    display: flex;
}

#main h2{
    text-align: center;
    margin: 0px auto 20px;
    color: midnightblue;
    border: 1px solid black;
}

#project {
    width: 40%;
    justify-content: start;
    text-align: left;
    margin: 0 10px 0 20px;
    line-height: 2;
    border: 1px solid black;
}

#project p {
    font-weight: bold;
}

#project .list {
    margin: 0 10px 0 40px;
}

.nest {
    margin: 0 10px 0 50px;
    font-style: italic;
}

.proj-img {
    display: inline-block;
    width: 50%;
}